<h1><%= @feature_description.name %></h1>

<% if signed_in? %>
  <div class="administration">
    <button class="btn"><%= link_to t(:link_feature_new), new_feature_path %></button>
  </div>
<% end %>

<ul class="tabs" data-tabs="tabs">
  <%= render 'features/feature_tabs', :tabs => @features %>
</ul>
 <div id="my-tab-content" class="tab-content">
   <%= render 'features/feature_tabs_contents', :contents => @features  %>
 </div>

<%= javascript_include_tag 'bootstrap/bootstrap-tabs' %>
<%= javascript_include_tag 'jquery.touchwipe.1.1.1' %>
<script>
  var $all_features;
  var $all_features_navigation;

  Number.prototype.mod = function(n) {
    return ((this%n)+n)%n;
  }

  //function for toggle
  function toggleFeature(id) {
    for (var x = 0; x < $all_features.length; x++) {
      if (x != id)
        $($all_features[x]).hide();
    }
    $($all_features[id]).show();
    window.location.hash = id;
  }

  //function for switching
  function featureBrowsing(changing) {
    var actualFeature = parseInt(window.location.hash.substr(1));
    var newFeature = (changing+actualFeature).mod($all_features.length);
    toggleFeature(newFeature)
  }

  $(document).ready(function() {
    $(function () {
      $('.tabs').tabs()
    })

    //adding the gestures
    $('body').touchwipe({
      wipeLeft: function(){ featureBrowsing(-1) },
      wipeRight: function(){ featureBrowsing(1) }
    })
  });
</script>


<!--    //checking the div blocks
    $all_features = $('div.feature_block');
    $all_features_navigation = $('div.feature_navigation ul');

    //filling the navigation
    var navList = [];
    for (var x = 0; x < $all_features.length; x++) {
      var zaehler = x+1;
      navList.push('<li><button onClick="toggleFeature('+x+');">' + zaehler + '</button></li>');
    }
    $all_features_navigation.append(navList.join(''));

    //hiding the content
    //$all_features.hide();
    var startFeature;
    if (window.location.hash == "")
      startFeature = 0;
    else
      startFeature = window.location.hash.substr(1)
    //toggleFeature(startFeature);
-->