<div class="feature_block">
  <h1><%= feature.name %></h1>

  <div class="round example"><%= raw feature.example %></div>

  <h3><%= t(:feature_description) %></h3>
  <div class="round description"><%= raw feature.description %></div>

  <% if signed_in? %>
  <nav class="round feature_links">
    <ul>
      <li><%= link_to t(:link_feature_edit), edit_feature_path(feature) %></li>
      <li><%= link_to t(:link_feature_delete), feature, :method => :delete, :confirm => t(:delete_question), :title => "Delete #{feature.name}" %></li>
    </ul>
  </nav>
  <% end %>
</div>
