<% contents.each_with_index do |content, index| %>
  <% if index == 0 %>
    <div class="active tab-pane" id="<%= content.id %>">
  <% else %>
    <div class="tab-pane" id="<%= content.id %>">
  <% end %>
    <div class="row">
      <button class="btn" style="float: left; margin-left: 20px;" onClick="featureBrowsing(-1);"><</button>
      <h1 style="float: left; width: 700px;"><center><%= content.name %></center></h1>
      <button class="btn" style="float: right;" onClick="featureBrowsing(1);">></button>
    </div>

    <% unless content.example.empty? %>
    <div class="round example"><%= raw content.example %></div>
    <% end %>

    <h3><%= t(:feature_description) %></h3>
    <div class="round description">
      <%= raw content.description %>
    </div>
    &nbsp;
    <% if signed_in? %>
      <div class="administration">
        <button class="btn"><%= link_to t(:link_feature_edit), edit_feature_path(content) %></button>
        <button class="btn"><%= link_to t(:link_feature_delete), content, :method => :delete, :confirm => t(:delete_question), :title => "Delete #{content.name}" %></button>
      </div>
    <% end %>
  </div>
<% end %>
