<%= render 'shared/error_messages', :object => f.object %>
<div class="clearfix">
  <%= f.label :name %>
  <div class="input">
    <%= f.text_field :name %>
  </div>
</div>
<div class="clearfix">
  <%= f.label :example, t(:feature_example) %>
  <div class="input">
    <%= f.text_area :example, :class => "span8" %>
  </div>
</div>
<div class="clearfix">
  <%= f.label :description, t(:feature_description) %>
  <div class="input">
    <%= f.text_area :description, :class => "span8" %>
  </div>
</div>
