<h1><%= t(:title_feature_new) %> </h1>
<%= form_for(@feature) do |f| %>
  <%= render 'fields', :f => f %>
  <div class="actions round">
      <%= f.submit t(:button_feature_new), :class => "btn primary" %>
      <button type="reset" class="btn"><%= t(:button_cancel)%></button>
  </div>
<% end %>
