<div class="topbar">
  <div class="topbar-inner">
    <div class="container-fluid">
      <ul class="nav">
      <li><%= link_to t(:title), root_path , :class => "brand" %></li>
      <li class="dropdown" data-dropdown="dropdown" >
        <a href="#" class="dropdown-toggle" style="color: white;"><%= t(:title_feature_description_list) %></a>
        <ul class="dropdown-menu">
          <% @feature_descriptions.each do |feature_description| %>
            <%= render 'feature_descriptions/feature_description_nav', :feature_description => feature_description %>
          <% end %>
        </ul>
      </li>
      </ul>
      
      <ul class="nav secondary-nav">
        <% if signed_in? %>
          <li><%= link_to t('link_admin'), '#', :style => "color: white;" %></li>
          <li><%= link_to t('link_logout'), '/logout', :style => "color: white;" %></li>
        <% else %>
          <li><%= link_to t('link_login'), '/login', :style => "color: white;" %></li>
        <% end %>
      </ul>
      <% unless @feature_description.nil? %>
        <% unless @feature_description.description.nil? %>
          <ul class="nav secondary-nav">
            <li><a href="#" rel="popover" data-content="<%= @feature_description.description %>" data-original-title="<%= @feature_description.name %>" style="color:white"><%= t(:link_feature_description_description)%></a></li>
            <script>
              $(function () {
                $("a[rel=popover]")
                  .popover({
                    offset: 10
                  })
                  .click(function(e) {
                    e.preventDefault()
                  })
              })
            </script>
          </ul>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
