<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tags %>
    <%= render 'layouts/stylesheets' %>
    <%= render 'layouts/ipad' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container span19">
      <div class="content">
        <div class="page-header">
          <% flash.each do |key, value| %>
            <%= content_tag(:div, value, :class => "alert-message #{key}") %>
          <% end %>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
